- contribution = @notification.contribution
|Project: #{contribution.project.name}
br
|Key: #{contribution.key}
br
|Created At: #{contribution.created_at}
br
|Confirmed At: #{contribution.confirmed_at}
