- contribution = @notification.contribution
- company_name = CatarseSettings[:company_name]
- contact_email = CatarseSettings[:email_contact]

|Hello, <strong>#{contribution.user.display_name}</strong>!
br
br
|  We have not received confirmation of payment of support for the project #{link_to contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink, ref: 'notificacao_cancelado')}. 
br
br
| To become reality, this project really needs your support, so you have until #{l(contribution.project.expires_at)} 
| To perform a #{link_to 'New Contribution', project_by_slug_url(permalink: contribution.project.permalink, ref: 'notificacao_cancelado')}. 
| Join over <strong>#{contribution.project.total_contributions}</strong> people who want to take the #{link_to contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink, ref: 'notificacao_cancelado')} of the paper.
br
br
| If you have any questions, please contact us replying to this message or e-mail #{mail_to contact_email}
br
br
|A Hug,
br
| #{company_name}
