- contribution = @notification.contribution
- company_name = CatarseSettings[:company_name]
- contact_email = CatarseSettings[:email_contact]

|Hello, <strong>#{contribution.user.display_name}</strong>!
br
br
| Not received confirmation of payment of the bill generated for the project #{link_to contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink, ref: 'notificacao_cancelado')}.
br
br
| If you have an interest in supporting the project, we can change the due date for you. Simply contact us replying to this message or e-mail #{mail_to contact_email}
br
br
|A Hug,
br
| #{company_name}
