- project = @notification.project

- project_link = project_by_slug_url(permalink: project.permalink)
- company_name = ::Configuration[:company_name]

|Hi #{project.user.name},
br/
br/
| The term project #{link_to project.name, project_link} no #{company_name} came to an end.
br/
br/
| There are outstanding payments for your project. To compute these amounts we would 
| Awaiting confirmation of these contributions last minute for the next 3 days. 
br/
br/
br/
br/
| Big Hug,
br/
= company_name
